

@import 'variables';


.btn {
  &.btn-light {
    border-color: $gray-400;
  }
}

.btn-xs,
.btn-group-xs > .btn {
  padding: .2rem 0.4rem !important;
  font-size: $font-size-xs !important;
  line-height: 1.3 !important;
  border-radius: 0.2rem !important;
}