
/**
 * Overlapped modals styles
 */

@each $color, $value in $theme-colors {
  @include bg-variant(".modal .bg-#{$color}-modal", $value, true);
}

.modal-max {
  max-width: calc(100vw - 5em) !important;

  @media (max-width: $sm-width) {
    max-width: calc(100vw - 1em) !important;
  }
}

.modal-header {
  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
.modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 210px);

  > section {
    > h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: $md-width) {
    padding: 0.1rem!important;
  }
}

.modal-backdrop.show {
  opacity: 0.2;
}