//
// MyAMS.js styles
// These styles are extending Bootstrap styles
//

// Standard widths

$sm-width:                   575px !default;
$md-width:                   767px !default;
$lg-width:                   991px !default;
$xl-width:                  1279px !default;


// Skin colors and styles

$white:                        #fff !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #6c757d !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$black:                        #000 !default;

$blue:                      #3886c9 !default;
$indigo:                    #6610f2 !default;
$purple:                    #6f42c1 !default;
$pink:                      #e83e8c !default;
$red:                       #a94442 !default;
$orange:                    #fd7e14 !default;
$yellow:                    #ffc400 !default;
$green:                     #296829 !default;
$teal:                      #20c997 !default;
$cyan:                      #346597 !default;

$success:                   #478e47 !default;
$warning:                   $orange !default;
$secondary:               $gray-400 !default;


$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-wide:          "Roboto", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:     "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:            0.95rem !default;
$font-size-xs:           $font-size-base * 0.8 !default;

// Tooltips styles
$zindex-tooltip:               2000 !default;

$tooltip-bg:                #3a413c !default;
$tooltip-margin:                3px !default;
$tooltip-max-width:           300px !default;
$tooltip-align:                left !default;


// Layout colors
$body:                    $gray-900 !default;
$body-bg:                   #e7e7ef !default;
$body-border:               #bfbfbf !default;
$body-shadow:            rgba(0, 0, 0, .45) !default;

$body-scrollbar-width:         thin !default;
$body-scrollbar-color:   rgba(182, 182, 182, 0.5) rgba(104, 104, 104, 0.9) !default;

$wk-body-scrollbar-width:             10px !default;
$wk-body-scrollbar-btn-height:        1rem !default;
$wk-body-scrollbar-radius:            10px !default;
$wk-body-scrollbar-thumb-bg:          rgba(182, 182, 182, 0.6) !default;
$wk-body-scrollbar-thumb-hover-bg:    rgba(128, 128, 128, 0.8) !default;
$wk-body-scrollbar-thumb-radius:      10px !default;


$top-menu-label:            #bfbfbf !default;
$top-menu-shadow:      0 0 1px #fff !default;

$hide-menu-border:          #494949 !default;
$hide-menu-hidden-bg:       #e8e8e8 !default;
$hide-menu-hidden-grad1:    #909090 !default;
$hide-menu-hidden-grad2:    #848484 !default;

$section:                 $gray-700 !default;
$section-border:          $gray-400 !default;
$section-bg:              $gray-100 !default;
$section-head:            $gray-700 !default;

$header-bg:                 #f8f8f8 !default;
$header-mobile-bg:             #fff !default;

$aside-bg:                  #92a395 !default;

$nav-font:                  $font-family-sans-serif !default;
$nav-font-head:             $font-family-wide !default;

$nav-bg:                    #58635b !default;
$nav-divider-bg:            #7a7a7a !default;
$nav-header:                #ffffff !default;
$nav-header-bg:             #e75a2c !default;
$nav-link:                  #f9fdf2 !default;
$nav-link-active:           #606b62 !default;
$nav-link-focus:            #c9c9c9 !default;
$nav-link-hover:               #fff !default;
$nav-link-pipe:             #e5e2cf !default;
$nav-menu-active:           #fefefe !default;
$nav-sub-menu-bg:           #4a534d !default;
$nav-sub-menu-active-bg:    #337ab7 !default;
$nav-sub-menu-hover-bg:     #39423c !default;
$nav-sub-menu-hover-border: rgba(122, 122, 122, .4) !default;
$nav-sub-menu-hover-bold:   #d5d9e2 !default;
$nav-sub2-menu:             #bfbfbf !default;
$nav-sub2-menu-pipe:        rgba(122, 122, 122, .1) !default;
$nav-sub2-menu-hover-bg:    #39423c !default;
$nav-sub2-menu-em-bg:       #ed1c24 !default;
$nav-sub2-menu-em-border:   rgba(255, 255, 255, .1) !default;
$nav-sub2-menu-bold:        #b3b3b3 !default;

$wk-nav-scrollbar-width:      10px !default;
$wk-nav-scrollbar-btn-height: 1rem !default;
$wk-nav-scrollbar-radius:     10px !default;
$wk-nav-scrollbar-thumb-bg:       rgba(101, 111, 105, 0.5) !default;
$wk-nav-scrollbar-thumb-hover-bg: rgba(74, 83, 77, 0.9) !default;
$wk-nav-scrollbar-thumb-border:   rgba(255, 255, 255, 0.5) !default;

$nav-minify:                #a8a8a8 !default;
$nav-minify-bg:             #454545 !default;
$nav-minify-border:         #302f2f !default;
$nav-minify-shadow:         rgba(0, 0, 0, .2) !default;
$nav-minify-head:         $gray-900 !default;
$nav-minify-item:              #fff !default;
$nav-minify-item-bg:        #f5f5f5 !default;
$nav-minify-item-top:       #d8d4d4 !default;
$nav-minify-item-bottom:       #fff !default;
$nav-minify-item-left:      #bfbfbf !default;

$ribbon-bg:                 #3886c9 !default;
$ribbon-mobile-bg:          #f5f5f5 !default;
$ribbon-mobile-bottom:      #cfcfcf !default;
$ribbon-mobile-top:         #f5f5f5 !default;
$ribbon-link:               #efefef !default;
$ribbon-mobile-link:        #6d6c6c !default;
$ribbon-link-strong:           #fff !default;
$ribbon-mobile-link-strong:    #333 !default;
$ribbon-active-link:           #fff !default;
$ribbon-mobile-active-link:    #333 !default;

$breadcrumb-divider-color:  #efefef !default;
$breadcrumb-active-color:   #ffffff !default;

$fieldset-bg:               rgba(255, 255, 255, .9) !default;
$fieldset-border:           #dee2e6 !default;
$fieldset-border-margin:    0 0 0.5rem !default;
$fieldset-padding:          0.2rem 0.5rem 0.1rem !default;
$last-fieldset-padding:     0.2rem 0.5rem 0.5rem !default;
$legend-padding:            0.2rem 0.5rem 0.1rem !default;


// Forms styles
$form-feedback-font-size:    0.8rem !default;
$error-border:              lighten($red, 20%) !default;

$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
) !default;


// Tables styles
$table-sort:                lighten($aside-bg, 20%) !default;


// Modals styles
$modal-inner-padding:        0.5rem !default;


@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
