## Default processing options

[PROCESSING]
# use the exposure values to assess whether to filter out image (most fluorescence images should be removed if 'true')
filter = true

# sets logging levels:
[LOGGING]
# accepted (not case-sensitive) levels are
#     'debug' OR '1'
#     'info' OR '2'
#     'warn' OR warning OR '3'
#     'error' OR '4'
#     'critical' OR '5'
# a low 'file level' (e.g. debug) is recommended to capture most/all of the logged outputs
# a high 'stream level' (e.g. error) is recommended to avoid filling the terminal with non-critical information
file level = debug
stream level = warning
# Log to file (this will be in the user directory)
log to file = false

[OTHER]
# if 'true', the program will wait for user input before completing
wait upon completion = false
# if 'true', the program will wait for user input if processing fails
wait upon failure = true