.navbar-main {
    margin-top: 50px;
}

.stage-notice {
    background-color: #d74545;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

.stage-notice a {
    color: #ffff00;
}
