.jp-o-logo {
    background-image: url("o.png");
    height: 32px;
	width: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-optumi-logo {
    background-image: url("optumi.png");
	background-size: 100px 28px;
	min-width: 100px;
	height: 28px;
	margin: 12px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-drive-logo {
	background-image: url("drive.png");
	background-size: auto 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-cloud-logo {
	background-image: url("cloud.png");
	background-size: auto 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-s3-logo {
	background-image: url("s3.png");
	background-size: auto 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-kaggle-logo {
	background-image: url("kaggle.png");
	background-size: auto 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.jp-wasabi-logo {
	background-image: url("wasabi.png");
	background-size: auto 24px;
	background-position: center;
	background-repeat: no-repeat;
}