body {
    font-family: sans-serif;
    color: #495057;
}

pre {
    color: #c5c8c6;
    background-color: #1d1f21;
    padding: 10px;
    line-height: 0.8em;
    border-radius: 5px;
}

#mypage {
    padding-left: 2em;
    padding-right: 2em;
}

#dropzone {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
    min-height: 300px;
}

#listzone > ul {
    padding: 0;
    margin: 0;
}

#listzone > ul > li {
    list-style-type: none;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

#files {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 10px;
}

#transformations {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 10px;
}

#transformations > ul {
    padding: 0;
    margin: 0;
}

#transformations > ol#chosentransfos > li > table{
    width: 100%;
}

#transformations > ol#chosentransfos > li > table > tr{
/*
    display: grid;
    grid-template-columns: 40% auto;

 */
}
#transformations > ol#chosentransfos > li > table > tr > td:first-of-type{
    text-transform: capitalize;
}
#chosentransfos {
    margin-top: 0;
}

div.dragItemHandle{
    cursor: ns-resize;
    text-align: center;
    font-weight: bold;
    background-color: #F4F2F1;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#transformations > ul > li {
    list-style-type: none;
}

#transfochoices > li > button {
    width: 100%;
    margin-bottom: 0.5em;
}

#chosentransfos li {
    padding: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

#chosentransfos > li > .btnRemoveTransformation{
    text-align: right;
    margin: 0.5em;
}

#chosentransfos > li > p{
    font-style: italic;
    margin: 0.5em;
    margin-bottom: 1em;
}

#chosentransfos > li > table{
    margin: 0.5em;
    margin-left: 2em;
}

#chosentransfos > li > table > tr > td:first-of-type{
    width:40%;
    text-align: right;
}

progress {
    width: 100%;
}

.sobig {
    padding: 1.5em;
    width: 100%;
}

.sosmall{
    font-size: 0.8em;
}

#chosentransfos table {
    margin-top: 1em;
    width: 100%;
}

#chosentransfos table th {
    border-right: 1px solid #ccc;
}

.dragged {
    border: 1px solid green !important;
}

.dz-preview {
    border-radius: 5px;
    border: 1px dashed orange;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 50% 10% auto auto;
    margin-bottom: 0.5em;
}

.dz-details {
    display: grid;
    grid-template-columns: 80% auto;
}

.dz-progress {
    background-color: #ccc;
}

.dz-upload {
    display: block;
    width: 0%;
    height: 100%;
    background-color: forestgreen;
}

.dz-success {
    border: 1px solid forestgreen;
}

.dz-error {
    border: 1px solid red;
}

.dz-error-message {
    padding-left: 1em;
    text-align: left;
    color: red;
}

.sortable-ghost {
    opacity: 1;

}

.sortable-drag {
    opacity: 0;
}