#edit-bar, .formTabs{
	display: none;
}
.userrole-manager #edit-bar,
.userrole-manager .formTabs{
	display: block;
}
.portaltype-observation .documentFirstHeading,
.portaltype-question .documentFirstHeading{
	display:none;
}
.esdDiv {
	overflow: hidden;
	margin-top: 4px;
	background-color: #F5F5F5;
	padding: 8px;
}
.esdLabel{
	font-weight: normal;
	color: #918C86;
}
.esdDiv .value{
	color: #00446a;
	font-size: 1.5em;
}
#qa .questionTitle{
	color: #00446a;
	font-size: 1.5em;
}
.eea-tabs {
	margin-top: 10px !important;
}
#visual-portal-wrapper ul.eea-tabs a{
	height: 100% !important;
	max-width: 100% !important;
}

.template-emrt.necd-content-observation .datagridwidget-cell .int-field {
	width: 8em;
}
.estTable {
	max-width: 100%;
	width: 100%;
	overflow: auto;
	/**border-width: 0px 0px 0px 1px;
	border-style: dotted;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
	border: 1px solid #b6b6b6;
	color: #666666;
	line-height: normal;
}
.estTable th{
	cursor: auto !important;
	text-align: center;
	background-color: #DADADA;
	color: #000;
	padding: 4px;
	width: 9%;
	font-weight: normal !important;
}
.estTable th:first-child{
	width: 37%;
	text-align: left;
}
.estTable td{
	padding: 10px 6px;
}
.estTable td:first-child {
	font-style: italic;
}
.estTable tbody tr:nth-child(odd) {
	background: #eee;
}
.estTable tbody tr:nth-child(even) {
	background: #fff;
}
.standardButton{
	background-color: #38758a;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 10px 13px;
	font-weight: bold;
	color:#fff !important;
	position: relative;
	display: inline-block;
	border: 1px solid #346F83;
}
.standardButton.removeButton,
.standardButton.defaultWFButton {
	background-color:#f6a800 !important;
	border-color: #999999;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.standardButton:hover,
#content a.standardButton:hover{
	background-color:#f6a800;
	color: #FFFFFF !important;
	cursor:pointer;
	border-color: #999999;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	text-shadow: none;
}
.standardButton.removeButton:hover,
.standardButton.defaultWFButton:hover,
#content a.standardButton.defaultWFButton:hover {
	background-color:#38758a !important;
	border: 1px solid #346F83;
}
.standardButton a, .standardButton a:hover, .standardButton a:visited {
	color: #FFFFFF !important;
}
.backButton .eea-icon:before{
  content: "\f053";
}

.removeButton{
	color: #d9534f;
}
.removeButton .eea-icon:before{
  content: "\f00d";
}
.configurationButton{
	text-align: center;
}

.actions{
	text-align: right;
	margin-top: 10px;
}
.observationActions{
	margin-top: 10px;
	margin-bottom: 10px;
}
.observationActions .position-0{
	margin-left: -100%;
}
.observationActions .position-1\3a {
    margin-left: -47.75%;
}
.observationActions .position-5 {
    margin-left: -66.59%;
}
#content .observationActions ul li{
	display: inline;
}
.observationActions .observationActionsMenu{
	text-align: right;
}
#qa{
	margin-top: 10px;
}
.question {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	position: relative;
	margin-top: 5px;
	font-size: 13px !important;
}
.old-qa.question {
	background-color: #dedede;
}
.question.comment{
	margin-left:30px;
}
.question.commentanswer{
	margin-right:30px
}
.question div{
	padding: 5px;
}
.question .from{
	border-bottom: 1px solid lightgray;
}
.question .messageDate{
	float: right;
}
.arrow-left-border{
	border-color: transparent lightgray transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-left{
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -20px;
	position: absolute;
	padding: 0px !important;
}
.old-qa .arrow-left {
	border-color: transparent #dedede transparent transparent;
}
.arrow-right-border{
	border-color: transparent transparent transparent lightgray;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-right{
	border-color: transparent transparent transparent white;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -20px;
	position: absolute;
	padding: 0px !important;
}
.old-qa .arrow-right {
	border-color: transparent transparent transparent #dedede;
}
.observationList {
	width: 100%;
	border: 0px;
}
.myview .observationList{
	width: 97%;
}
.observationList th{
	cursor: pointer;
	background-color: #e6eff0 !important;
	color: #88afb8 !important;
	/**border: 0.1em solid #e7e7e7;
	border-style: solid solid none;*/
	border-right: 1px solid white;
	padding: 4px;
	text-transform: uppercase;
	vertical-align: middle !important;
	border: 0px !important;
}
.observationList th:after{
	content: ' ';
}
.sort-order-ascending:after{
	content: '▲';
}
.sort-order-reverse:after{
	content: '▼';
}
/**.observationList thead tr{
	border-left: 5px solid #e6eff0;
}*/
.observationList tr{
	border-bottom: 0px !important;
	border-right: 0px !important;
	border-top: 1px solid #ddd !important;
	/**border-left: 5px solid white;*/
}
.observationList tbody tr:hover{
	cursor: pointer;
}
.observationList td{
	padding: 8px;
	border-right: 0px !important;
	background-color: white !important;
	vertical-align: middle !important;
}
/**.observationList tr.psiBackground,
.observationList tr.ptcBackground{
	border-left: 5px solid #F6D18B !important;
}
.observationList tr.technicalCorrectionBackground{
	border-left: 5px solid #FFA500 !important;
}*/
.observationRefCell{
	color: #427597;
	font-weight: bold;
	font-size: 14px;
}
.statusCell {
	text-align: center;
}
.statusCell span{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 14px;
}
.statusCell span.draft{
	background-color: #CDF4FE;
	color: #028CA9;
}
.statusCell span.open{
	background-color: #CB7801;
	color: white;
}
.statusCell span.conclussion{
	background-color: #5cb85c;
	color: white;
}
.statusCell span.finished{
	background-color: #DADADA;
	color: #999999;
}
.pollutantsCell{
	text-align: center;
	font-weight: bold;
}
.yearCell{
	text-align: center;
	vertical-align: middle;
}
.wfRole:before{
	content: "\f007";
}
.wfStep:before{
	content: "\f044";
}
.observationIcon:before{
	content: "\f0f6";
}
.questionIcon:before{
	content: "\f0e6";
}
.conclusionIcon:before{
	content: "\f00c";
}
.clickableRow{
	cursor: pointer !important;
}
.wfPoint:before{
	content: "\f111";
}
.wfPoint2:before{
	content: "\f10c";
}
.wfTime:before{
	content: "\f017";
}
#workflowTable td{
	min-width: 195px;
	color: gray;
	position: relative;
	vertical-align: top;
}
#workflowTable tr td:last-child {
	color: black;
}
#workflowTable tr td .border{
	border-top: 1px solid gray;
	width: 100%;
	position: absolute;
	top: 9px;
	left: 10px;
}
#workflowTable tr td:last-child .border{
	border: none;
}
.attachment:before{
	content: "\f0c6";
}
.confidential:before {
	content: "\f023";
}
.collapsiblePanelTitle {
	/**background-color:#2c8da2; */
	line-height:30px;
	/**color:white; */
	cursor:pointer;
	margin-top:10px;
	font-weight: bold;
}
.collapsiblePanelTitle.collapsed {
	margin-bottom: 10px;
}
.collapsiblePanelTitle .eea-icon-left:before {
	content: "\f077";
	color:#2c8da2;
}
.collapsiblePanelTitle.collapsed .eea-icon-left:before {
	content: "\f078";
	color:#2c8da2;
}
.collapsibleListTitle {
	cursor:pointer;
}
.collapsibleListTitle .eea-icon-left:before {
	content: "\f077";
}
.collapsibleListTitle.collapsed .eea-icon-left:before {
	content: "\f078";
	color: black;
	background-color: white;
}
.collapsibleListTitle.collapsed span {
	color: black;
	background-color: white !important;
}
#tabs {
	/**border: 1px solid #DEDEDE;
    height: 205px;*/
    position: relative;
	overflow: hidden;
}
.tabs {
	overflow: hidden;
	//*-webkit-box-shadow: 0 1px 0 #FFF inset; -moz-box-shadow: 0 1px 0 #FFF inset;
	//box-shadow: 0 1px 0 #FFF inset;*/
	background-color: #FBFBFB;
}
.tabs>div {
	display: block;
	float: left;
	font: 15px/35px Arial, Helvetica, Sans-serif;
	padding: 0 10px;
	color: #999;
	text-shadow: 0 1px 0 #FFF;
	position: relative;
	overflow: hidden;
	/**background: #e1e1e1;
	background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); */
	border-top: 6px solid transparent;
}
.tabs>div.active{
	border-top: 6px solid #4489A0;
	background-color: #F3F3F3;
	box-shadow: 6px 0 15px -4px rgba(31, 73, 125, 0.8), -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}
.tabs>div:first-child{
	margin-left: 10px;
}
.tabs div a{
	border-bottom: 0px !important;
}
.tabs div a.overview:before{
	content: "\f06e";
	font-size: 30px;
	color: black;
}
.tabs a.inbox:before{
	content: "\f01c";
	font-size: 30px;
	color: black;
}
#filters .row{
	background-color: #F3F3F3;
	padding: 5px 0;
}
#filters label{
	font-weight: normal;
}
#filters::after {
  content: '';
  display: block;
  clear: both;
}
#no-content {
	background-color: #F3F3F3;
	padding: 15px;
	font-weight: bold;
	font-size: 110%;
	font-style: italic;
}
#observations{
	background-color: #F3F3F3;
	padding: 10px 20px !important;
}
#observations .actions{
	margin-top: 0px;
	margin-bottom: 5px;
}
#observations .collapsiblePanelTitle {
	font-size: 120%;
	background-color: #2d8da1;
	color: #fff;
}
#observations .collapsiblePanelTitle span{
	background-color: #fff;
}
#observations .collapsiblePanelTitle.collapsed .eea-icon-left:before {
	color:#fff;
}
#observations .collapsed span{
	background-color: #2d8da1;
	color: #fff;
}
#observations .inboxSection{
	padding-left: 24px;
	padding-top: 15px;
	overflow: hidden;
	background-color: #fff;
}
#observations .inboxSection div{
	font-size: 110%;
	font-weight: bold;
}
ul.eea-tabs{
	background-color: #FBFBFB !important;
	padding-left: 5px !important;
}
#visual-portal-wrapper ul.eea-tabs {
	border-radius: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
#visual-portal-wrapper ul.eea-tabs li:first-child > a {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
#visual-portal-wrapper ul.eea-tabs a {
	border-top: 6px solid transparent !important;
}
#visual-portal-wrapper ul.eea-tabs a.current {
	border-top: 6px solid #4489A0 !important;
	box-shadow: 6px 0 15px -4px rgba(31, 73, 125, 0.8), -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}
#visual-portal-wrapper ul.eea-tabs li,
#visual-portal-wrapper ul.eea-tabs a,
#visual-portal-wrapper ul.eea-tabs a:hover {
	color: #427597 !important;
	text-shadow: none !important;
}
.progressbar{
	width: 80%;
	position: absolute;
}
.progressbar tr:first-child td{
	background-color: #EBEBEB;
	width: 25%;
	border: 1px solid #F5F5F5;
}
.progressbar.progress0 tr:first-child td#progress0,
.progressbar.progress25 tr:first-child td#progress0,
.progressbar.progress75 tr:first-child td#progress0,
.progressbar.progress100 tr:first-child td#progress0{
	background-color: #A8DFFA;
}
.progressbar.progress25 tr:first-child td#progress25,
.progressbar.progress75 tr:first-child td#progress25,
.progressbar.progress100 tr:first-child td#progress25{
	background-color: #74B7D6;
}
.progressbar.progress75 tr:first-child td#progress75,
.progressbar.progress100 tr:first-child td#progress75{
	background-color: #5FA5C6;
}
.progressbar.progress100 tr:first-child td#progress100{
	background-color: #458EB1;
}
.progressbar td{
	color: #918C86;
	font-size: 75%;
}
#collage .row_1 .block_1 {
	width: 65% !important;
}
#collage .row_1 .block_1 h2{
	display: none;
}
#collage .row_1 .collage-column:nth-child(2){
	display: none !important;
}
#collage .row_1 .block_3 .collage_item_1,
#collage .row_1 .block_3 .collage_item_2{
	background-color: #F3F3F3;
	padding: 5px;
}
#collage .row_1 .block_3 .collage_item_1 h2{
	display: none;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList {
	height: 254px;
	overflow: auto;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table{
	width: 100%;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table tr:nth-child(even){
	border-bottom: 1px solid #E7E7E7;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table tr td:first-child{
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 15px;
}
#collage .row_2 .block_1 table th{
	background-color: #055B7B;
	color: white;
}
#collage .row_2 .block_1 table tr:nth-child(even){
	background-color: #F5F5F5;
}
#collage .row_2 .block_1 table tr.title{
	background-color: #E6EEF2;
	font-weight: bold;
}
#collage .documentFirstHeading{
	margin-bottom: 15px;
}
#collage div.row_1 div.block_1 div.collage_item_1 {
	margin-right: 30px;
	text-align: justify;
}
#collage div.row_2 div.block_1 h2{
	margin-top: 20px;
	margin-bottom: 15px;
}
span.envelope:before{
	content: "\f0e0";
}
#workflowhelp {
	position: fixed;
	display: none;
	top: 25%;
	left: 0;
	z-index: 4;
}
.workflowButton{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 40% 100%;
	-moz-transform-origin: 40% 100%;
	-ms-transform-origin: 40% 100%;
	-o-transform-origin: 40% 100%;
	transform-origin: 40% 100%;
	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	border-radius: 0px 0px 8px 8px;
	background-color: #38758a;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	width: 80px;
	display: inline-block;
}
.observation-details,
.observation-workflow{
	background-color: #fff;
}
.esdDiv .collapsiblePanelTitle{
	background-color: #2d8da1;
	color: #fff;
}
.esdDiv .collapsiblePanelTitle span{
	background-color: #fff;
	margin-left: -11px;
}
.esdDiv .collapsed span{
	background-color: #2d8da1;
	color: #fff;
}
.esdDiv .collapsiblePanelTitle.collapsed .eea-icon-left:before {
	color:#fff;
}
#comment-discussion-wrapper{
	overflow: hidden;
}

/* Comments (CounterPart/MSExpert) */

.row #commenting {
	font-size: 100%
}
.row #commenting fieldset,
.row .discussion fieldset{
	border: 0;
}

#comment-discussion-wrapper .comment,
#comment-discussion-wrapper div.documentByLine {
	font-size: 100%
}

.potentialTechnicalCorrectionTag,
.potentialSignificantIssue{
	background-color: #F6D18B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #593c05;
	font-weight: normal !important;
	font-size: 10px !important;
	padding: 2px;
	margin-top: 4px;
	text-align: center;
}
.technicalCorrectionTag{
	background-color: #FFA500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #593c05;
	font-weight: normal !important;
	font-size: 10px !important;
	padding: 2px;
	margin-top: 4px;
	text-align: center;
}
#btnFilter{
	top: -10px;
}

.tooltipIcon:after {
	display: inline-block;
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 .3em;
	color: white;
	content: "\f05a";
	cursor: help;
}
.tooltipIconBlue:after {
	display: inline-block;
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 .3em;
	color: #427597;
	content: "\f05a";
	cursor: help;
}
#rolesList li{
	display: block;
	margin-left: 10px
}
#rolesList span{
	font-weight: bold;
}
#rolesList .country{
	margin-left: 10px
}
body.portaltype-conclusion #form-buttons-cancel {
	display: none;
}
#statisticsPhase {
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
#statisticsPhase a {
	margin-left:10%;
	zoom: 1.5;
}
#statisticsPhase a.selected img {
	border: 2px solid blue;
}

.template-statistics table thead tr th,
.template-statistics table tfoot tr td{
	background-color: rgb(221, 221, 221) !important;
	font-weight: bold !important;
	color:black;
}

.observation_highlights_pgf th,
.observation_highlights_pgf td,
.observation_highlights_psi th,
.observation_highlights_psi td,
.observation_highlights_ptc th,
.observation_highlights_ptc td
 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}


form[action$="emrt.necd.content.nfr_code_matching.INECDSettings.nfrcodeMapping"] input[type=text]{
	width: 98%;
}

form[action$="emrt.necd.content.nfr_code_matching.INECDSettings.nfrcodeMapping"] div.multi-widget .inner{
	height: 480px;
    overflow: hidden;
    width: 100%;
    overflow-y: visible;
}

input[name="xls_file"]{
    margin-bottom: 10px;
    display: block;
    }

@-moz-document url-prefix() {
    #btnFilter {
        margin-bottom: 50px;
    }
}

/*observation import form*/
.import-info {
    border: 1px solid;
    padding: 15px 10px 15px 10px;
    color: #00529B;
    background-color: #BDE5F8;
    }