/**
 * Forms contents style
 */

@import "variables";


// Generic controls

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tooltip {
  .tooltip-inner {
    text-align: $tooltip-align;
  }
}


// MyAMS forms

.ams-form {
  font-size: 95%;

  // Border
  &.border {
    border: 1px solid $fieldset-border;
  }

  // Groups
  .form-group {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0.25rem;
    }
  }

  // Forms controls
  .form-control {
    height: auto;
    min-height: calc(1.5em + 0.75rem + 2px);
  }

  // Labels
  .col-form-label {
    &.required {
      font-weight: bold;

      .hint {
        color: $danger;
        opacity: 0.8;
      }
    }
    .hint {
      position: absolute;
      top: 0.1rem;
      margin-left: 0.25rem;
      opacity: 0.5;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  // Monospace text areas
  textarea {
    min-height: 3rem;

    &.monospace {
      font-family: $font-family-monospace;
      font-size: 0.9rem;
    }
  }

  .tab-pane {
    > .form-control {
      border: 0;
    }
  }

  // File inputs
  .custom-file-label {
    white-space: nowrap;
    overflow: hidden;
  }

  // Tabs
  .form-tabs {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }
  .nav-link {
    padding: 0.3rem 1rem;
    font-family: $nav-font;
  }
  .tab-content {
    border-color: $nav-tabs-border-color;
    border-width: 0 1px 1px;
    border-style: solid;
  }

  > div.border {
    background: $fieldset-bg;
  }

  // Fieldsets
  fieldset {
    position: relative;
    padding: $fieldset-padding;
    border: 0;
    background: $fieldset-bg;

    &:last-child {
      padding: $last-fieldset-padding;
    }
    &[disabled] {
      > section,
      > article,
      > div {
        opacity: 0.6;
      }
    }
    &.border {
      border: 1px solid $fieldset-border;
      @include border-radius($border-radius);
    }
    &.switched {
      legend {
        margin-bottom: 0.2rem;
      }
    }
    legend {
      font-size: 0.95rem;
      font-weight: normal;

      &.switcher,
      &.checker {
        user-select: none;

        label {
          cursor: pointer;
        }
      }

      .fa,
      [data-fa-i2svg] {
        position: relative;
        top: -1px;
        color: $primary;
        font-size: 0.8rem;
      }
    }
    &.border > legend {
      width: auto;
      padding: $legend-padding;
      background-color: $white;
      border: 1px solid $fieldset-border;
      @include border-radius($border-radius);
    }
  }
  > fieldset.border,
  > div {
    margin: 0.5rem;
  }
  fieldset + fieldset {
    margin-top: 0.5rem;
  }

  // Footer
  footer,
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    background-color: $gray-100;
    border-top: 1px solid $gray-300;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);

    > * {
      margin: 0.25rem;
    }

    .btn {
      position: relative;

      .progress {
        position: absolute;
        left: 0.25rem;
        bottom: 0.2rem;
        width: calc(100% - 0.5rem);
        height: 0.25rem;
        background-color: transparent;
        background-image: linear-gradient(to right, transparent, transparent);
      }
    }
  }
}


// Custom TinyMCE styles
.tox {
  font-size: 1em !important;

  &.tox-tinymce {
    font-family: $font-family-sans-serif !important;
    border: 0;
  }
  .tox-menubar {
    border-bottom: 1px solid silver !important;
    .tox-mbtn {
      height: 26px !important;
      font-size: 1em !important;
    }
  }
  .tox-menu {
    * {
      font-family: $font-family-sans-serif !important;
      font-size: 1em !important;
    }
    h1 {
      font-size: $h1-font-size !important;
    }
    h2 {
      font-size: $h2-font-size !important;
    }
    h3 {
      font-size: $h3-font-size !important;
    }
    h4 {
      font-size: $h4-font-size !important;
    }
    h5 {
      font-size: $h5-font-size !important;
    }
    h6 {
      font-size: $h6-font-size !important;
    }
  }
}
