
@import "variables";


.ams-form {

  // Fieldsets with switchers
  fieldset {
    &.switched {
      margin-bottom: 0 !important;

      > section,
      > article,
      > div:not(.persistent),
      > fieldset:not(.persistent),
      > .nav-tabs:not(.persistent) {
        display: none;
      }

      & + fieldset {
        margin-top: 0 !important;
      }
    }

    &.border {
      &.switched {
        border: 1px solid transparent !important;
        background-color: transparent;
      }
    }

    .switcher {
      cursor: pointer;
      border: 0;
      padding-bottom: 0;

      label[for] {
        cursor: pointer;
      }
    }
  }
}