
/******************************
 * forms
 ******************************/

/* note that this should only apply to "normal" primary forms */
/* TODO: replace this with bulma equivalent */
.form {
    padding-left: 5em;
}

/* note that this should only apply to "normal" primary forms */
.form-wrapper .form .field.is-horizontal .field-label .label {
    text-align: left;
    white-space: nowrap;
    width: 18em;
}

/* note that this should only apply to "normal" primary forms */
.form-wrapper .form .field.is-horizontal .field-body {
    min-width: 30em;
}

/* note that this should only apply to "normal" primary forms */
.form-wrapper .form .field.is-horizontal .field-body .select,
.form-wrapper .form .field.is-horizontal .field-body .select select {
    width: 100%;
}

/******************************
 * field-wrappers
 ******************************/

/* TODO: replace this with bulma equivalent */
.field-wrapper {
    clear: both;
    min-height: 30px;
    overflow: auto;
    margin: 15px;
}

/* TODO: replace this with bulma equivalent */
.field-wrapper .field-row {
    display: table-row;
}

/* TODO: replace this with bulma equivalent */
.field-wrapper label {
    display: table-cell;
    vertical-align: top;
    width: 18em;
    font-weight: bold;
    padding-top: 2px;
    white-space: nowrap;
}

/* TODO: replace this with bulma equivalent */
.field-wrapper .field {
    display: table-cell;
    line-height: 25px;
}
