
/********************************************************************************
 * grids.rowstatus.css
 *
 * Add "row status" styles for Buefy grid tables.
 ********************************************************************************/

/**************************************************
 * grid rows with "warning" status
 **************************************************/

tr.warning {
    background-color: #fcc;
}


/**************************************************
 * grid rows with "notice" status
 **************************************************/

tr.notice {
    background-color: #fe8;
}


/**************************************************
 * grid rows which are "checked" (selected)
 **************************************************/

/* TODO: this references some color values, whereas it would be preferable
 * to refer to some sort of "state" instead, color of which was
 * configurable.  b/c these are just the default Buefy theme colors. */

tr.is-checked {
    background-color: #7957d5;
    color: white;
}

tr.is-checked:hover {
    color: #363636;
}

tr.is-checked a {
    color: white;
}

tr.is-checked:hover a {
    color: #7957d5;
}
