#
# FUNPACK "fmrib.cfg" configuration file
#
# Provides FMRIB-recommended processing of UKB tables
#


# Use local settings
config_file local

# Contains some FMRIB-specific plugin functions,
# including date/time normalisation.
plugin_file fmrib

# Drop non-numeric columns - the main output
# file only contains numeric data.
suppress_non_numerics

# Only import variables from FMRIB-curated categories,
# largely drawn from showcase categories
category_file fmrib/categories.tsv

#
# FUNPACK cleaning/processing stages
#
# - NA insertion
# - Categorical recoding
# - Cleaning functions (e.g. replacing ICD codes with numeric equivalents)
# - Child value replacement
# - "Processing" (e.g. one-hot encoding, redundancy check)
#
# Each is activated or deactivated by certain flags.
#
# - NA insertion
#     Specify with `-vf` or `-df`, table listing "NAValues"
#     Suppress with `-sn` option
# - Categorical recoding
#     Specify with `-vf` or `-df`, table listing "RawLevels" and "NewLevels"
#     Suppress with `-sr` option
# - Cleaning
#     Specify with `-vf`, table listing cleaning functions in "Clean"
#     Suppress with `-scf`
# - Child value replacement
#     Specify with `-vf`, table listing "ParentValues" and "ChildValues"
#     Suppress with `-scv`
# - Processing
#     Specify with `-pf`, file listing variables and processing functions
#     Suppress with `-sp`

# - NA insertion
datacoding_file fmrib/datacodings_navalues.tsv

# - Categorical recoding
datacoding_file fmrib/datacodings_recoding.tsv

# - Cleaning
variable_file   fmrib/variables_clean.tsv

# Date/timestamp normalisation (performed in the FUNPACK cleaning stage)
# Converts a date or date+time into a single value x, where floor(x) is the
# calendar year and the fraction day/time within the year *except* 'a day'
# is redefined as the time between 7am and 8pm (scanning only takes place
# within these hours.
type_file       fmrib/datetime_formatting.tsv

# - Child value replacement
variable_file   fmrib/variables_parentvalues.tsv

# - Processing -
processing_file fmrib/processing.tsv
