#
# FUNPACK "fmrib_logs.cfg" configuration file
#
# Provides FMRIB-recommended processing of UKB tables, with maximal generation
# of ancillary and diagnostic files and log information
#

# Use all settings in fmrib.cfg
config_file fmrib

# Produce maximal diagnostic message reporting
noisy
noisy
noisy

# Send all output to a file
write_log

# Create a table recording the mapping of alpha-numeric ICD10 codes to pure
# numeric
write_icd10_map

# Create a table with the descriptions of each variable in the output file
write_description

# Create a summary of all proccessing steps applied
write_summary
