#
# FUNPACK "local.cfg" configuration file
#
# Provides local configuration that likely all users will want to use
#

# Overwrite files
overwrite

# Number of cores to use in parallelisation; -1 for 'all possible'
num_jobs -1

# It is always recommended to trust data types of each column; without this option
# processing is considerably slower.  Disable when debugging a possibly prolematic file.
trust_types
