@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('./fonts/CenturyGothic-Bold.woff') format('woff'),
        url('./fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic-BoldItalic.woff2') format('woff2'),
        url('./fonts/CenturyGothic-BoldItalic.woff') format('woff'),
        url('./fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic-Bold_1.woff2') format('woff2'),
        url('./fonts/CenturyGothic-Bold_1.woff') format('woff'),
        url('./fonts/CenturyGothic-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic.woff2') format('woff2'),
        url('./fonts/CenturyGothic.woff') format('woff'),
        url('./fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic-Italic.woff2') format('woff2'),
        url('./fonts/CenturyGothic-Italic.woff') format('woff'),
        url('./fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic_1.woff2') format('woff2'),
        url('./fonts/CenturyGothic_1.woff') format('woff'),
        url('./fonts/CenturyGothic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic_2.woff2') format('woff2'),
        url('./fonts/CenturyGothic_2.woff') format('woff'),
        url('./fonts/CenturyGothic_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Sloppy Hand';
  src: url("./fonts/Sloppy-Hand.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('./fonts/Consolas.eot');
    src: url('./fonts/Consolas.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Consolas.woff2') format('woff2'),
        url('./fonts/Consolas.woff') format('woff'),
        url('./fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('./fonts/Avenir-Book.woff2') format('woff2'),
        url('./fonts/Avenir-Book.woff') format('woff'),
        url('./fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura.eot');
    src: url('./fonts/Futura.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Futura.woff2') format('woff2'),
        url('./fonts/Futura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
