#
# FUNPACK "fmrib_new_release.cfg" configuration file
#
# Intended for use when first running FUNPACK on a new UKB data release.
# Equivalent to "fmrib_logs", but loads and processes *all* variables
# (including previously unknown and uncategorised variables), and outputs a
# separate file containing summary information about these variables.
#

# base this config on fmrib_logs,
# and include all fmrib categories
config_file fmrib_logs
config_file fmrib_cats

# Include unknown/uncategorised variables
category unknown
category uncategorised

# Save a summary of unknown vars
write_unknown_vars