#
# FUNPACK "fmrib_cats.cfg" configuration file
#
# Provides recommended set of categories to process, from full list of
# FMRIB-curated categories (see funpack/configs/fmrib/categories.tsv)
#

category 1
category 2
category 3
category 10
category 11
category 12
category 13
category 14
category 20
category 21
category 22
category 23
category 24
category 25
category 26
category 30
category 32
category 50
category 51
category 60
category 70
category 98
category 99
