
/********************************************************************************
 * progress.css
 *
 * Styles for progress bar page.
 ********************************************************************************/


/******************************
 * general
 ******************************/

#body-wrapper {
    position: relative;
}

#wrapper {
    height: 60px;
    left: 50%;
    margin-top: -45px;
    margin-left: -350px;
    position: absolute;
    top: 50%;
    width: 700px;
}

/******************************
 * progress bar
 ******************************/

#progress-wrapper {
    border-collapse: collapse;
}

#progress {
    border-collapse: collapse;
    height: 25px;
    width: 550px;
}

#complete {
    background-color: Gray;
    width: 0px;
}

#remaining {
    background-color: LightGray;
    width: 100%;
}

#percentage {
    padding-left: 3px;
    min-width: 50px;
    width: 50px;
}

#cancel .ui-button-text {
    white-space: nowrap;
}
